<h2><i class="fa fa-heart"></i> Hi, I'm Mengzhen -</h2>

<p>My name is a little tricky to pronounce, so you can call me <strong>Jen</strong>. I'm a web developer and designer based out of <a href="https://www.google.com/maps/place/@26.1605162,-80.0282284,10z/" target="_blank">sunny South Florida</a>.</p>

<p>Take a look around at <a href="#/projects">my projects</a> and feel free to <a href="#/contact">drop me a note</a>.</p>

<hr>

<h2><i class="fa fa-info-circle"></i> General Information</h2>
<p>
    <ul>
        <li>{{age}} years old</li>
        <li>Currently employed at Revelex (Front End Web Developer)</li>
        <li>B.Sc. MIS (Florida Atlantic University, <em>summa cum laude</em>)</li>
        <li>Likes: prime numbers, strange food, animals that purr</li>
        <li>Dislikes: spiders, getting up early, horror movies</li>
    </ul>
</p>

<hr>

<h2><i class="fa fa-cogs"></i> Skills</h2>
<p>
    <ul>
        <li>HTML / HTML5</li>
        <li>CSS / CSS3 / LESS / SASS</li>
        <li>Javascript / jQuery / AngularJS / Backbone.js / RequireJS / Ajax</li>
        <li>Responsive web design (RWD) / Bootstrap / Foundation</li>
        <li>PHP / CakePHP / Yii / CodeIgniter</li>
        <li>SQL / MySQL / MSSQL</li>
        <li>Apache / IIS / nginx</li>
        <li>Git / SVN / Perforce</li>
    </ul>
</p>
