<h2><i class="fa fa-star"></i> Published</h2>

<p>
    <strong>The Learning Experience</strong> <a href="http://thelearningexperience.com" target="_blank">thelearningexperience.com <i class="fa fa-external-link"></i></a>
</p>
<ul>
    <li>Built entire site from back-end to front-end</li>
    <li>Dynamic, interactive site that is fully integrated with a CMS admin panel</li>
    <li>Front-end is built on top of Bootstrap, completely responsive and degrades gracefully down to IE8</li>
    <li>Back-end is built with CakePHP and a modified version of Croogo CMS</li>
    <li>
        Site highlights:
        <ul>
            <li>
                <a href="http://thelearningexperience.com/our-centers/near" target="_blank">Centers Near You <i class="fa fa-external-link"></i></a> <br> 
                HTML5 Geolocation, falls back to a GeoIP database
            </li>
            <li>
                <a href="http://thelearningexperience.com/our-programs/leap-curriculum#fun-with-phonics" target="_blank">Curriculum Wheel <i class="fa fa-external-link"></i></a> <br>
                CSS3 animation used to 'spin' wheel image
            </li>
            <li>
                <a href="http://thelearningexperience.com/about-tle" target="_blank">Memory Game <i class="fa fa-external-link"></i></a> <br>
                Card matching game, CSS3 and jQuery
            </li>
        </ul>
    </li>
</ul>

<hr/>

<h2><i class="fa fa-code"></i> In Development</h2>

<p>
    <strong>Kitty Alley</strong> <em>coming early 2015!</em>
</p>
<ul>
    <li>Web based pixel game</li>
    <li>HTML5 local storage & Angular JS</li>
</ul>

<hr/>

<h2><i class="fa fa-archive"></i> Past</h2>

<p>
    <strong>Klezmer Company Orchestra</strong> <a href="http://www.klezmercompany.com" target="_blank">klezmercompany.com <i class="fa fa-external-link"></i>
</p>