<h2><i class="fa fa-file-code-o"></i> Tiny Demos</h2>
<p>Small and not-so-small standalone pieces of code and fun :)</p>
<p>
    <strong>Cruise search module</strong> <a href="//sandbox.mengzhen.me/demos/search-module.html" target="_blank">/demos/search-module <i class="fa fa-external-link"></i></a>
</p>
<ul>
    <li>RequireJS, Backbone.js, Handlebars.js, Underscore.js, jQuery</li>
    <li>SASS with Bourbon, responsive</li>
</ul>

<p>
    <strong>Sailings module</strong> <a href="//sandbox.mengzhen.me/demos/sailings.html" target="_blank">/demos/sailings <i class="fa fa-external-link"></i></a>
</p>
<ul>
    <li>AngularJS, jQuery</li>
    <li>LESS, responsive</li>
</ul>

<p>
    <strong>Animated pngs</strong> <a href="//sandbox.mengzhen.me/demos/animated-png.html" target="_blank">/demos/animated-png <i class="fa fa-external-link"></i></a>
</p>
<ul>
    <li>(native) JS, CSS3</li>
</ul>

<p>
    <strong>Animated timeline</strong> <a href="//sandbox.mengzhen.me/demos/animated-timeline.html" target="_blank">/demos/animated-timeline <i class="fa fa-external-link"></i></a>
</p>
<ul>
    <li>CSS3</li>
</ul>

<p>
    <strong>Resizable, clickable SVG map</strong> <a href="//sandbox.mengzhen.me/demos/svg-map.html" target="_blank">/demos/svg-map <i class="fa fa-external-link"></i></a>
</p>
<ul>
    <li>(native) JS, Raphaël SVG library, CSS3</li>
</ul>

<hr>

<h2><i class="fa fa-star"></i> Published</h2>

<p>
    <strong>The Learning Experience</strong> <a href="http://thelearningexperience.com" target="_blank">thelearningexperience.com <i class="fa fa-external-link"></i></a>
</p>
<ul>
    <li>Built entire site from back-end to front-end</li>
    <li>Dynamic, interactive site that is fully integrated with a CMS admin panel</li>
    <li>Front-end is built on top of Bootstrap, completely responsive and degrades gracefully down to IE8</li>
    <li>Back-end is built with CakePHP and a modified version of Croogo CMS</li>
    <li>
        Site highlights:
        <ul>
            <li>
                <a href="http://thelearningexperience.com/our-centers/near" target="_blank">Centers Near You <i class="fa fa-external-link"></i></a> <br> 
                HTML5 Geolocation, falls back to a GeoIP database
            </li>
            <li>
                <a href="http://thelearningexperience.com/our-programs/leap-curriculum#fun-with-phonics" target="_blank">Curriculum Wheel <i class="fa fa-external-link"></i></a> <br>
                CSS3 animation used to 'spin' wheel image
            </li>
            <li>
                <a href="http://thelearningexperience.com/about-tle" target="_blank">Memory Game <i class="fa fa-external-link"></i></a> <br>
                Card matching game, CSS3 and jQuery
            </li>
        </ul>
    </li>
</ul>

<hr>

<h2><i class="fa fa-code"></i> In Development</h2>

<p>
    <strong>Kitty Alley</strong> <em>coming early 2016!</em>
</p>
<ul>
    <li>Web based pixel game</li>
    <li>HTML5 local storage & Angular JS</li>
</ul>

<p>
    <strong>rpgs.io</strong> <em>coming ???</em>
</p>
<ul>
    <li>Social network for text/forum based RPGs</li>
</ul>

<hr>

<h2><i class="fa fa-archive"></i> Past</h2>

<p>
    <strong>Klezmer Company Orchestra</strong> <a href="http://www.klezmercompany.com" target="_blank">klezmercompany.com <i class="fa fa-external-link"></i>
</p>